body {
    width: 470px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

dl {
    width: 100%;
    padding: 0;
    margin: 0;
}

dt {
    float: left;
    width: 30%;
    font-weight: 700;
}

dd {
    float: left;
    width: 70%;
    padding: 0;
    margin: 0;
}